.form-control.login-user {

    border: 0 solid #000000 !important;
    
}

.f {

    color: black !important;

}

.boton {

    background-color: #69f0ae;
}

.centra {

    padding-top: 10%;
}

.centrado {

    text-align: center !important;
}

.letras {
    font-size: 25px;
    font-weight: bold;
    color: #f44336;
}