.container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.container>* {
    width: 98%;
    margin-left: 1%;
}
.hermanos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}