mat-sidenav{
    width: 200px;
    cursor: pointer;
    
    position: fixed;
    top: 70px;
    z-index: 1000;
}
.boton-hamburguesa{
     background: none;
     border: none;
     color: white;

}
.navbar{
    position: fixed;
    top: 0;
    z-index: 1000;

}
.padre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
.sesion{
    display: flex;
    justify-content: right;
}
.hijo{
    display: flex;
    justify-content:center;
    
}
.hermanos{
    display: flex;
}