<!-- <header>
    <mat-toolbar color="primary" class="navbar">
        
        <mat-toolbar-row>
            <button class="boton-hamburguesa"  (click)="opened = !opened"  color="primary">
                <mat-icon class="pointer">menu</mat-icon>
            </button>
           
            <div class="row d-flex">
                <div class="col-xs-4 col-md-4"><span>Aplicación Stock</span></div>

                <div class="col-xs-4 col-md-4 ml-auto" *ngIf="this.trueFalse; else cerrado">
                    <button  style="border-radius: 3px;"mat-raised-button color="accent" (click)="pruebaBoton()">Local abierto <mat-icon>meeting_room</mat-icon></button>
                </div>
                <ng-template #cerrado>
                    <div class=" col-xs-4col-md-4 ml-auto">
                        <button style="border-radius: 3px;" mat-raised-button color="warn" (click)="pruebaBoton()">Local cerrado <mat-icon>no_meeting_room</mat-icon></button>
                    </div>

                </ng-template>


                <div class="col-xs-4 col-md-4 pull-right ml-auto">
                    <button style="border-radius: 3px;" class="derecha" mat-stroked-button color="warn" (click)="logout()">Cerrar Sesion <mat-icon>clear</mat-icon></button>
                </div>
            </div>
        </mat-toolbar-row>



    </mat-toolbar>

</header> -->
<div style="background: inerit;" class="h3 text-center pt-2">Agregar productos al stock</div>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
</mat-form-field>
<div class="containerr">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>


        <ng-container class="separador" matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> imagen </th>
            <td (click)="modalImagen(element)" class="pointer" mat-cell *matCellDef="let element"> <img *ngIf="element.imagen ; else img" [src]="element.imagen" width="100px;" height="100px;" [alt]="element.nombre" >
            
                
                <ng-template #img>
                    <img  src="https://pngimg.com/uploads/box/box_PNG100706.png" width="100px;" height="100px;" >

                </ng-template> </td>
        </ng-container>
        <ng-container class="separador" matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td (click)="agrega(element)" class="pointer" mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <ng-container class="separador" matColumnDef="linea">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Linea </th>
            <td (click)="agrega(element)" class="pointer" mat-cell *matCellDef="let element"> {{element.linea}} </td>
        </ng-container>
        <ng-container class="separador" matColumnDef="skud">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU (producto)</th>
            <td  mat-cell *matCellDef="let element"> {{element.skud}} </td>
        </ng-container>
        <ng-container class="separador" matColumnDef="cod_barra">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU (interno)</th>
            <td  mat-cell *matCellDef="let element"> {{element.cod_barra}} </td>
        </ng-container>
        <ng-container class="separador" matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
            <td  mat-cell *matCellDef="let element"> {{element.marca}} </td>
        </ng-container>
        <ng-container class="separador" matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
            <td  mat-cell *matCellDef="let element"> {{element.categoria}} </td>
        </ng-container>
        <ng-container class="separador" matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción</th>
            <td  mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
        
        <ng-container class="separador" matColumnDef="unidad_de_medida">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidad de medida</th>
            <td  mat-cell *matCellDef="let element"> {{element.unidad_de_medida}} </td>
        </ng-container>


        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}}</td>
        </ng-container>

        <ng-container matColumnDef="costo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio costo</th>
            <td  mat-cell *matCellDef="let element"> {{element.costo | currency:'CLP':'symbol'}} </td>
        </ng-container>
        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Venta </th>
            <td mat-cell *matCellDef="let element"> {{element.precio | currency:'CLP':'symbol'}} </td>
        </ng-container>


        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones: &nbsp; &nbsp;
                <button mat-stroked-button color="accent" (click)="onAdd()">Agregar<mat-icon>add</mat-icon></button>

            </th>
            <td mat-cell *matCellDef="let element">
                <a mat-stroked-button color="basic" routerLink="." (click)="onEdit(element)">Editar <mat-icon>edit</mat-icon></a> &nbsp;
                <a mat-stroked-button color="primary" routerLink="." (click)="onStock(element)">Stock <mat-icon>inventory_2</mat-icon></a> &nbsp;
                <button mat-stroked-button color="warn" (click)="onDelete(element.id)">Eliminar<mat-icon>delete</mat-icon></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div style="background: inerit;" class="h3 text-center pt-2">Lote</div>
<mat-form-field>
    <input matInput (keyup)="applyFilterLote($event.target.value)" placeholder="Buscar">
</mat-form-field>
<div class="container">
    <table mat-table [dataSource]="dataLote" class="mat-elevation-z8" >


        <ng-container class="separador" matColumnDef="sku">
            <th mat-header-cell *matHeaderCellDef > SKU </th>
            <td class="pointer" mat-cell *matCellDef="let element"> {{element.skud}} </td>
        </ng-container>
        <ng-container class="separador" matColumnDef="lote">
            <th mat-header-cell *matHeaderCellDef > Lote </th>
            <td class="pointer" mat-cell *matCellDef="let element"> {{element.lote}} </td>
        </ng-container>
        <ng-container class="separador" matColumnDef="producto">
            <th mat-header-cell *matHeaderCellDef > Nombre Producto</th>
            <td  mat-cell *matCellDef="let element"> {{element.nombreProd}} </td>
        </ng-container>
        <ng-container class="separador" matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef > cantidad</th>
            <td  mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>
        <ng-container class="separador" matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef >Fecha</th>
            <td  mat-cell *matCellDef="let element"> {{element.fecha.toDate() | date:'dd/MM/yyyy'}} </td>
        </ng-container>
        
        <ng-container matColumnDef="costo">
            <th mat-header-cell *matHeaderCellDef >Precio costo</th>
            <td  mat-cell *matCellDef="let element"> {{element.costo | currency:'CLP':'symbol'}} </td>
        </ng-container>
       

        <!-- <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones: &nbsp; &nbsp;
                <button mat-stroked-button color="accent" (click)="onAdd()">Agregar<mat-icon>add</mat-icon></button>

            </th>
            <td mat-cell *matCellDef="let element">
                <a mat-stroked-button color="basic" routerLink="." (click)="onEdit(element)">Editar <mat-icon>edit</mat-icon></a> &nbsp;
                <button mat-stroked-button color="warn" (click)="onDelete(element.id)">Eliminar<mat-icon>delete</mat-icon></button>
            </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumnsLote"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsLote;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<mat-divider></mat-divider>
<div class="h3 text-center pt-5">Descontar productos del stock</div>
<section class="container">
    <form [formGroup]="myForm" (ngSubmit)="descuenta()">
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="">
                    <input [disabled] matInput #produ formControlName="produ" placeholder="Ingrese producto a descontar del stock">
                </mat-form-field>

            </div>
            <div class="col-md-4">
                <mat-form-field class="">
                    <input formControlName="canti" pattern="[a-z]{1,15}" matInput #canti placeholder="Ingrese cantidad">
                </mat-form-field>
            </div>
            <div class="col-md-4 pt-2">
                <button type="submit" mat-stroked-button color="accent">Agregar<mat-icon>add</mat-icon></button>
            </div>
        </div>
    </form>

    <div class="tablaventa" id="descuento">
        <table class="table cambiatabla" id="descuento">
            <thead>
                <tr>
                    <th scope="col">Nombre </th>
                    <th scope="col">SKUD </th>
                    <th scope="col">Codigo de barras </th>
                    <th scope="col">Marca </th>
                    <th scope="col">Categoria </th>
                    <th scope="col">Descripción </th>
                    <th scope="col">Precio Costo </th>
                    <th scope="col">Unidad de medida</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of arregloProductos">
                    <th scope="col">{{producto.nombre}}</th>
                    <th scope="col">{{producto.skud}}</th>
                    <th scope="col">{{producto.cod_barra}}</th>
                    <th scope="col">{{producto.marca}}</th>
                    <th scope="col">{{producto.categoria}}</th>
                    <th scope="col">{{producto.descripcion}}</th>
                    <th scope="col">{{producto.costo | currency:'CLP':'symbol'}}</th>
                    <th scope="col">{{producto.unidad_de_medida}}</th>
                    <th scope="col">{{producto.cantidad}}</th>
                    <th scope="col">{{producto.precio | currency:'CLP':'symbol'}}</th>
                    <th scope="col">{{producto.precio * producto.cantidad | currency:'CLP':'symbol'}}</th>
                    <button mat-stroked-button color="warn" (click)="eliminaDescuento(producto)">Eliminar<mat-icon>delete</mat-icon></button>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col">Total: </th>
                    <th colspan="3">{{total | currency:'CLP':'symbol'}}</th>

                </tr>
            </tfoot>
        </table>



    </div>

    <button mat-stroked-button class="text-center" color="accent" (click)="imprimePDF()">Terminar<mat-icon>save</mat-icon></button>
    

</section>